body header .header_button, body main .section_banner .section_banner_button {
  width: 12%;
  height: 40px;
  background-color: #6FB80A;
  border: none;
  color: #f3f3f3;
  border-radius: 3px;
  font-family: "Source Sans Pro";
  font-size: 0.9em;
  font-weight: bold; }

body {
  background-color: white;
  position: relative; }
  body header {
    min-height: 600px;
    background-image: url("../img/m-h-day.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0 0 50%/40% 0; }
    body header .header-wrap {
      margin: 0 auto;
      width: 80%; }
      body header .header-wrap .landing-logo {
        display: flex; }
        body header .header-wrap .landing-logo img {
          padding-top: 2%; }
        body header .header-wrap .landing-logo p {
          color: #0C1B3D;
          font-family: "Hind";
          text-align: center;
          margin-bottom: 0;
          margin-top: 2%;
          font-weight: bold;
          padding-left: 1%; }
          body header .header-wrap .landing-logo p span {
            display: block;
            color: #0C1B3D;
            font-size: 0.5em;
            text-align: center;
            font-weight: bold; }
    body header .header_heading {
      color: #0C1B3D;
      max-width: 40%;
      font-size: 3.5em;
      font-weight: bold;
      font-family: "Source Sans Pro";
      line-height: 1;
      position: relative;
      z-index: 1; }
    body header .header_heading::after {
      display: block;
      content: '';
      width: 49%;
      height: 40%;
      background: #5FA0D5;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1; }
    body header .header_text {
      max-width: 40%;
      color: #0C1B3D;
      font-family: "Hind";
      line-height: 1.5;
      margin-bottom: 5%;
      font-size: 0.8em; }
    body header .login {
      color: #f3f3f3;
      padding-left: 10%;
      font-family: "Source Sans Pro";
      font-size: 1em; }
  body main {
    margin: 0 auto;
    width: 60%; }
    body main .section_text {
      font-family: "Source Sans Pro";
      font-size: 2em;
      color: #0C1B3D;
      text-align: center;
      position: relative; }
    body main .section_text::after {
      display: block;
      content: '';
      width: 15%;
      height: 100%;
      background: #5FA0D5;
      position: absolute;
      bottom: 10%;
      right: 34%;
      z-index: -1; }
    body main .section_card_wrap {
      margin-bottom: 20%;
      display: flex;
      flex-direction: column; }
      body main .section_card_wrap .section_card {
        display: flex;
        background: #222731;
        border-radius: 4px;
        color: white;
        margin: 1%;
        padding: 2%; }
        body main .section_card_wrap .section_card img.section_card_img {
          border-radius: 7px;
          width: 800px; }
        body main .section_card_wrap .section_card .section_card_right_container {
          display: flex;
          flex-direction: column;
          padding: 2% 0; }
          body main .section_card_wrap .section_card .section_card_right_container .section_card_heading {
            font-family: "Source Sans Pro";
            font-size: 1.2em;
            color: #f3f3f3;
            text-align: center; }
          body main .section_card_wrap .section_card .section_card_right_container .section_card_text {
            font-family: "Hind";
            font-size: 0.8em;
            color: #f3f3f3;
            text-align: left;
            padding: 0 15%;
            line-height: 1.5; }
          body main .section_card_wrap .section_card .section_card_right_container a {
            color: #f3f3f3;
            text-align: center;
            font-family: "Source Sans Pro";
            font-size: 0.8em;
            margin-top: 7%; }
    body main .section_banner {
      background: linear-gradient(to right, #6FB80A 0%, blue 90%);
      border-radius: 5px;
      position: absolute;
      width: 65%;
      left: 17.5%;
      bottom: 8%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      body main .section_banner .section_banner_heading {
        font-family: "Source Sans Pro";
        font-size: 1.5em;
        color: #0C1B3D;
        font-weight: bold;
        position: relative;
        z-index: 1;
        margin-bottom: 5%; }
      body main .section_banner .section_banner_heading::after {
        display: block;
        content: '';
        width: 16%;
        height: 120%;
        background: #5FA0D5;
        position: absolute;
        bottom: 0;
        left: 29%;
        z-index: -1; }
      body main .section_banner .section_banner_text {
        font-family: "Hind";
        color: #f3f3f3;
        font-size: 0.7em;
        margin-bottom: 10%;
        margin-top: 0; }
  body .footer-wrap {
    background-color: #222731;
    color: #f3f3f3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    font-family: "Hind"; }
    body .footer-wrap .footer_logo {
      display: flex; }
      body .footer-wrap .footer_logo p {
        text-align: center;
        margin-bottom: 0;
        margin-top: 2%;
        font-weight: bold;
        padding-left: 10%; }
        body .footer-wrap .footer_logo p span {
          display: block;
          font-size: 0.5em;
          text-align: center;
          font-weight: bold; }
    body .footer-wrap .footer_text {
      width: 20%;
      font-size: 0.8em; }
    body .footer-wrap .footer-cr {
      font-size: 0.8em; }
