$colors: (
    basic: white,
    text: #f3f3f3,
    button: #6FB80A,
    main: #222731,
    names: #0C1B3D,
    underline: #5FA0D5,
    gradient: blue,
);
$backgroundImage: url('../img/m-h-day.jpg');
$fonts: (
    main: 'Hind',
    headers_buttons: 'Source Sans Pro',
    other: 'Fresca'
);