$colors: (
    basic: #202027,
    text: rgb(223, 213, 213),
    button: goldenrod,
    main: rgb(65, 71, 87),
    names: white,
    underline: #E0391F,
    gradient: #c44545,
);
$backgroundImage: url('../img/m-h-night.jpg');
$fonts: (
    main: 'Fresca',
    headers_buttons: 'Source Sans Pro',
    other: 'Hind'
);